@use "../../settings/variables";
@use "../../tools/mixins";

.g-header {
	padding-block-start: variables.$space-10;
	text-align: center;

	&__hero {
		width: 90%;
		max-width: 30rem;
		border: variables.$border-025 solid variables.$dark-gray;
		border-radius: variables.$border-radius-circle;
		box-shadow: 8px 16px 32px 0 variables.$shadow;
	}

	&__title {
		margin-block-start: variables.$space-4;
	}

	&__subtitle {
		margin-block-end: variables.$space-4;
		color: variables.$green;

		@include mixins.heading-xl;
	}

	&__navigation {
		gap: variables.$space-3;
		flex-wrap: wrap;

		@include mixins.center-flex;
	}

	&__link {
		padding-inline: variables.$space-2;
		padding-block: variables.$space-1;
		border-radius: variables.$border-1;

		&:focus-visible {
			outline: none;
		}

		&:hover,
		&:focus-visible {
			background-color: variables.$green;
			color: variables.$text-color-dark;
		}
	}
}
