@use "../../settings/variables";
@use "../../tools/mixins";

.g-about-me {
	margin-block: variables.$space-10 variables.$space-5;

	&__title {
		text-align: center;
	}

	&__intro {
		max-width: variables.$max-width-element-2;
		padding-inline: variables.$space-5;
		margin-inline: auto;
		margin-block: variables.$space-4 variables.$space-8;
	}

	&__social-media {
		gap: variables.$space-5;

		@include mixins.center-flex;
	}
}
