// Base colors
$_white: #fff;
$_dark-charcoal: #333;
$_eerie-black: #1e1e1e;
$_apple: #7ac943;
$_shadow: rgb(0 0 0 / 75%);

// Gral
// Gral__White
$pure-white: $_white;

// Gral__Gray
$light-gray: $_dark-charcoal;
$dark-gray: $_eerie-black;

// Gral__Green
$green: $_apple;

// Shadow
$shadow: $_shadow;

// Background
// Background__Gray
$background-gray: $light-gray;
$background-dark-gray: $dark-gray;
$background-green: $green;

// Background__White
$background-white: $pure-white;

// Text
$text-color: $pure-white;
$text-color-dark: $dark-gray;
$text-color-green: $green;
