@use "../settings/variables";

.a-notification {
	position: fixed;
	top: 2.4rem;
	right: calc(50% - 15.0915rem);

	// display: inline-block;
	display: none;
	padding-inline: variables.$space-2;
	padding-block: variables.$space-3;
	border-radius: variables.$border-2;
	background-color: variables.$background-green;
	color: variables.$text-color-dark;
	box-shadow: 8px 16px 32px 0 variables.$shadow;
}
